#author:hover {
    text-decoration: none;
    color: #6BDCFF;
}

#author_item {
    list-style: none;
}

#header {
    border-bottom: 2px solid gray;
    margin-bottom: 2em;
}

#jumbotron {
    border-radius: 6px;
    padding: 48px 60px 48px 60px;
    background-color: #eee;
}

#wrap_content {
    width: 100%;
    margin: 0 auto;
}

.error::after {
    content: "\A";
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

body {
}
